* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
}

body{
    background-color: rgb(5, 5, 14);
}

canvas{
    position: absolute;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(assets/darkSky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

